/* CSS Generale Body*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 400px 25px 400px;
}

/* 
  Inizio CSS Header
*/

#titolo{
  height: 100px;
  background-color: pink;
}

/* 
  Fine CSS Header
*/

/* 
  Inizio CSS Main
*/

/* CSS Main - Interfaccia*/
#interfaccia{
  height: 500px;
  background-color: goldenrod;
}

/* CSS Main - Descrizione*/

/* 
  Fine CSS Main
*/


